.bio-box{
  margin: 1vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
  color: #386641;
  line-height: 1.6;
 }

 .bio-header-text{
  font-size: larger;
}

.bio-buttons{
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  padding: 2vh;
  margin: 1vh;
  background-color: #F4A259;
  color: #FFF;
  border-radius: 50px;
  font-weight: 600;
  font-size: small;
  text-align: center;
  &:hover {
    cursor: pointer;
      }
}